.Register-container {
    width: 100vw;
    height: 100vh;
    background: url("https://images.pexels.com/photos/6984661/pexels-photo-6984661.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
    center;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo {
    font-size: 100px;
    margin-bottom: 30px;
    background-color: black;
    color: white;
    padding: 0 20px;
}

.Register-wrapper {
    width: 40%;
    padding: 20px;
    background-color: white;
    opacity: 0.8;
    border-radius: 10px;
}

.Register-wrapper h1 {
    font-size: 24px;
    font-weight: 800;
    text-align: center;
}

.Register-wrapper form {
    display: flex;
    flex-wrap: wrap;
}

.Register-wrapper form input {
    flex: 1;
    min-width: 40%;
    margin: 20px 10px 0 0;
    padding: 10px;
}

.Register-wrapper form span {
    font-size: 12px;
    margin: 20px 0;
}

.Register-wrapper form button {
    width: 40%;
    border: none;
    padding: 15px 20px;
    background-color: teal;
    color: white;
    cursor: pointer;
}

.Register-wrapper form button:hover {
    background-color: #1c1b1b;
}

@media only screen and (max-width: 420px) {

    .Register-wrapper {
        width: 75%;
    }

    .Register-container {
        background-position: 60%;
    }

}