.category-container {
    display: flex;
    background-color: rgb(28, 24, 24);
    padding: 20px;
    justify-content: space-between;
}

@media only screen and (max-width: 420px) {

    .category-container {
        padding: 0;
        flex-direction: column;
    }

}